.bs-callout {
  padding: 1.25rem;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  border: 1px solid #eee;
  border-left-width: .25rem;
  border-radius: .25rem;
}
.bs-callout h4 {
  margin-top: 0;
}
.bs-callout p:last-child {
  margin-bottom: 0;
}
.bs-callout code,
.bs-callout .highlight {
  background-color: #fff;
}

/* Themes for different contexts */
.bs-callout-danger {
  border-color: #dFb5b4;
}
.bs-callout-warning {
  border-color: #f1e7bc;
  border-left-color: #f0ad4e;
}
.bs-callout-info {
  border-color: #d0e3f0;
}
.ika-post {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}
